<ion-view title="Calculator">
    <ion-content padding="false" class="has-header">
        <form>
            <label class="item item-input" name="display">
                <span class="input-label">Input</span>
                <input type="text" placeholder="0">
            </label>
        </form>
        <div class="button-bar">
            <button class="button button-stable button-block ">7</button>
            <button class="button button-stable button-block ">8</button>
            <button class="button button-stable button-block ">9</button>
            <button class="button button-energized button-block ">/</button>
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block ">4</button>
            <button class="button button-stable button-block ">5</button>
            <button class="button button-stable button-block ">6</button>
            <button class="button button-energized button-block ">x</button>
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block ">1</button>
            <button class="button button-stable button-block ">2</button>
            <button class="button button-stable button-block ">3</button>
            <button class="button button-energized button-block ">-</button>
        </div>
        <div class="button-bar">
            <button class="button button-stable button-block ">0</button>
            <button class="button button-stable button-block ">=</button>
            <button class="button button-energized button-block ">+</button>
        </div>
    </ion-content>
</ion-view>